<div class='footer-wrapper'>
  <div class='social-icon-wrapper'>
    <a href="mailto:pawel@mybema.com" target="_blank">
      <span class="social-icon icon-mail"></span>
    </a>

    <a href="https://twitter.com/askmybema" target="_blank">
      <span class="social-icon icon-twitter"></span>
    </a>

    <a href="https://github.com/mybema/mybema" target="_blank">
      <span class="social-icon icon-github"></span>
    </a>
  </div>

  <div class='copyright-notice'>
    &copy; 2016 A GAME OF TAGS
  </div>
</div>