<div class='main-container'>
  <%= render partial: 'shared/tabs' %>

  <div class="faq-container">
    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        I'm the answer, not the question
      </div>

      <div class='faq-answer'>
        As a Swede currently living in California who also has visited IKEA in several different countries I can report that the general experience of visiting IKEA is pretty much as stressful and disorienting here as in Sweden. There are some local variations in the product portfolio both due to different standards like in bed sizes and kitchen and cultural differences. You cannot find a cheese slicer in my nearest IKEA and they have icing on their cinnamon buns (almost blasphemy).
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        I'm the answer, not the question
      </div>

      <div class='faq-answer'>
        As a Swede currently living in California who also has visited IKEA in several different countries I can report that the general experience of visiting IKEA is pretty much as stressful and disorienting here as in Sweden. There are some local variations in the product portfolio both due to different standards like in bed sizes and kitchen and cultural differences. You cannot find a cheese slicer in my nearest IKEA and they have icing on their cinnamon buns (almost blasphemy).
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        I'm the answer, not the question
      </div>

      <div class='faq-answer'>
        As a Swede currently living in California who also has visited IKEA in several different countries I can report that the general experience of visiting IKEA is pretty much as stressful and disorienting here as in Sweden. There are some local variations in the product portfolio both due to different standards like in bed sizes and kitchen and cultural differences. You cannot find a cheese slicer in my nearest IKEA and they have icing on their cinnamon buns (almost blasphemy).
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        I'm the answer, not the question
      </div>

      <div class='faq-answer'>
        As a Swede currently living in California who also has visited IKEA in several different countries I can report that the general experience of visiting IKEA is pretty much as stressful and disorienting here as in Sweden. There are some local variations in the product portfolio both due to different standards like in bed sizes and kitchen and cultural differences. You cannot find a cheese slicer in my nearest IKEA and they have icing on their cinnamon buns (almost blasphemy).
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        I'm the answer, not the question
      </div>

      <div class='faq-answer'>
        As a Swede currently living in California who also has visited IKEA in several different countries I can report that the general experience of visiting IKEA is pretty much as stressful and disorienting here as in Sweden. There are some local variations in the product portfolio both due to different standards like in bed sizes and kitchen and cultural differences. You cannot find a cheese slicer in my nearest IKEA and they have icing on their cinnamon buns (almost blasphemy).
      </div>
    </div>

    <div class='faq-item'>
      <div class='faq-header'>
        <div class='faq-dot'></div>
        I'm the answer, not the question
      </div>

      <div class='faq-answer'>
        As a Swede currently living in California who also has visited IKEA in several different countries I can report that the general experience of visiting IKEA is pretty much as stressful and disorienting here as in Sweden. There are some local variations in the product portfolio both due to different standards like in bed sizes and kitchen and cultural differences. You cannot find a cheese slicer in my nearest IKEA and they have icing on their cinnamon buns (almost blasphemy).
      </div>
    </div>
  </div>
</div>