<div class='main-container'>
  <div class="tabs is-boxed">
    <ul>
      <li class="is-active">
        <a><i class="fa fa-image"></i> New search</a>
      </li>

      <li>
        <%= link_to search_history_path do %>
          <i class="fa fa-music"></i> Previous searches
        <% end %>
      </li>

      <li>
        <%= link_to faq_path do %>
          <i class="fa fa-film"></i> Help
        <% end %>
      </li>
    </ul>
  </div>

  <div class="search-container">
    <% if @current_user.can_search? %>
      <%= render partial: 'form' %>
    <% else %>
      <%= render partial: 'upgrade_notice' %>
    <% end %>

    <div class='ht-form-error-container hidden' id='ht-warning'>
      <h3 class='ht-warning-header'>
        Wait a moment!
      </h3>

      <p class='ht-explanation-p hidden' id='empty-tags-warning'>
        In order for us to find the best hashtags for your picture you'll need to provide 3 hashtags for us to search against. If we search Instagram using just 1 or 2 hashtags, we won't be able to provide you with the best filtered hashtags.
      </p>

      <p class='ht-explanation-p hidden' id='duplicate-tags-warning'>
        Duplicate hashtags detected!
      </p>
    </div>
  </div>
</div>