<div class='main-container'>
  <div class="tabs is-boxed">
    <ul>
      <%= link_to new_query_path do %>
        <i class="fa fa-image"></i> New search
      <% end %>

      <li>
        <a><i class="fa fa-music"></i> Previous searches</a>
      </li>

      <li>
        <%= link_to faq_path do %>
          <i class="fa fa-film"></i> Help
        <% end %>
      </li>
    </ul>
  </div>

  <div class="search-container">
    Your request is being processed! WHERE IS THIS?
  </div>
</div>