<div class='main-container'>
  <div class='processing-container'>
    <h1 class='processing-header ctr-txt'>
      Alright, we're on it!
    </h1>

    <div class='processing-text ctr-txt'>
      It's going to take us a while to crunch these numbers. Why don't you try doing some jumping jacks in the meantime? Fitness is very important and you should look after your health!
    </div>
  </div>
</div>