.hero-cta {
  background-color: $mainBlue;
  border: none;
  border-radius: 2px;
  color: $white;
  margin-right: 10px;
  max-width: 300px;
  padding: 10px;
  transition: all 0.3s ease 0s;
  width: 45%;
}

.hero-cta:hover {
  background: #0079CE;
  cursor: pointer;
}

.ht-search-btn {
  margin-top: 1em;
}

.input-field-title {
  cursor: default;
  display: block;
  font-size: 1.15em;
  padding: 0.5em 0;
  box-shadow: none;
}

.input-warning {
  background-color: $inputErrorColor;
}

.tag-search-input {
  border: 1px solid #ccc;
  padding: 0.35em;
  width: 90%;
}

.top-hashtags-btn {
  display: block;
  text-align: center;
  width: auto;
}

.top-hashtags-btn:hover {
  color: $white;
}

@media (max-width: 370px) {
  .hero-cta {
    display: block;
    margin: 0.5em auto;
    width: 100%;
  }
}