<div class='main-container'>
  <div class="search-container search-results">
    <table class="table ">
      <thead>
        <tr>
          <th>Query</th>
          <th>Complete?</th>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% @searches.each do |query| %>
          <tr>
            <td>
              <% query.query_terms.each do |tag| %>
                <span class="tag">
                  <%= tag %>
                </span>
              <% end %>
            </td>
            <td><%= query.complete? %></td>
            <td><%= query.user.ig_username %></td>
            <td><%= query.created_at.strftime("%e %b %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>