<div class='main-container'>
  <div class="search-container search-results">
    <table class="table ">
      <thead>
        <tr>
          <th>Query</th>
          <th>Complete?</th>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% @searches.each do |query| %>
          <tr>
            <td>
              <% query.query_terms.each do |tag| %>
                <span class="tag">
                  <%= tag %>
                </span>
              <% end %>
            </td>
            <td><%= query.complete? %></td>
            <td><%= query.user.ig_username %></td>
            <td><%= query.created_at.strftime("%e %b %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css">
  .search-results {
    padding: 0.5em 1.5em;
  }

  .main-container {
    margin: 80px auto 0;
    width: 80%;
  }

  .search-container {
    margin-top: -20px!important;
    margin-bottom: 50px;
    background-color: white;
    min-height: 500px;
    border-left: 1px solid #d3d6db;
    border-right: 1px solid #d3d6db;
    border-bottom: 1px solid #d3d6db;
  }

  .search-field-wrapper {
    padding: 2em;
    text-align: center;
  }

  .ctr-txt {
    text-align: center;
  }

  .tag-search-input {
    width: 90%;
    padding: 0.35em;
  }
</style>